<% content_for :form_card_title do %>
  Tell us where you currently live
<% end %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path, method: :put, local: true, builder: Cfa::Styleguide::CfaFormBuilder, html: { class: 'form-card' } do |f| %>
    <header class="form-card__header">
      <h1 class="form-card__title">Tell us where you currently live.</h1>
    </header>
    <fieldset class="button-set with-padding-med">
      <div class="form-card__content">
        <%= f.cfa_input_field(:street_address, 'What is your street address?', classes: ['form-width--name']) %>
        <%= f.cfa_input_field(:city, 'What city do you live in?', classes: ['form-width--name']) %>
        <%= f.cfa_select(:state, 'What state do you live in?', state_choices, prompt: 'Select a state', classes: ['form-width--name']) %>
        <%= f.cfa_input_field(:zip, 'What is your zip code?', classes: ['form-width--zip']) %>
      </div>
      <div class="form-card__footer">
        <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
          Continue
        <% end %>
      </div>
    </fieldset>
  <% end %>
<% end %>
