<div>
  <%= fields_for(:form, @form) do |f| %>
    <%= f.file_field :documents, multiple: true, direct_upload: true, style: "display: none;", accept: "image/png, image/jpeg, image/gif, application/pdf" %>
  <% end %>
  <div class="uploaded-files">
    <% @form.documents.each do |document| %>
      <div class="uploaded-file-detail">
        <div class="doc-preview">
          <div class="doc-preview__info">
            <h4><%= document.filename %></h4>
            <p class="text--help">
              <a class="delete-file-link link--subtle" href="#">
                Delete
              </a>
            </p>
          </div>
          <% if document.content_type == "application/pdf" %>
            <div class="doc-preview__thumb emoji emoji--page-facing-up"></div>
          <% else %>
            <div class="doc-preview__thumb">
              <%= image_tag url_for(document), size: "100x100", alt: "Preview of uploaded document #{document.filename}" %>
            </div>
          <% end %>
        </div>
        <input type="hidden" value="<%= document.signed_id %>" name="form[documents][]" />
      </div>
    <% end %>
  </div>
  <div class="text--centered">
    <div class="verification-upload-icon" <% if @form.documents.present? %>style="display: none;"<% end %>></div>
    <div>
      <button class="button button--cta is-tablet-hidden--inline upload-file-button">Pick a file from this computer</button>
      <button class="button button--cta is-desktop-hidden--inline upload-file-button">Take a picture</button>
    </div>
  </div>
</div>