<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <%= form_for @form, url: current_path, method: :put, local: true, builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
      <header class="form-card__header">
        <div class="emoji emoji--huge emoji--fountain-pen with-padding-large"></div>
        <h1 class="form-card__title">Do you want us to e-file your <u>state</u> return?</h1>
      </header>
      <div class="form-card__content">
        <p class="with-padding-small">
          By typing your full name below, you agree that you've reviewed the correctness of your state return and that
          you want Tax Help Colorado to e-file on your behalf.
        </p>
        <p class="with-padding-large">
          <%=link_to "View the full state e-file consent form", state_signature_page_preview_vita_signing_index_path, target:'_blank' %>
        </p>
      </div>
      <fieldset class="button-set with-padding-med">
        <div>
          <%= f.cfa_input_field(:state_signature, '<strong>Enter your full name</strong>', classes: ['form-width--name with-padding-med']) %>
        </div>
        <% if current_signing_request.vita_client.married? %>
          <div>
            <%= f.cfa_input_field(:state_signature_spouse, '<strong>Enter your spouse\'s full name</strong>', classes: ['form-width--name with-padding-med']) %>
          </div>
        <% end %>
        <div class="form-card__footer">
          <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
            Continue
          <% end %>
        </div>
      </fieldset>
    <% end %>
  </div>
<% end %>

