<% content_for :form_card_title do %>
  Tell us about this dependent
<% end %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path(member_id: member_id), method: :put, local: true, builder: Cfa::Styleguide::CfaFormBuilder, html: { class: 'form-card' } do |f| %>
    <header class="form-card__header">
      <h1 class="form-card__title">Tell us about this dependent.</h1>
    </header>
    <fieldset class="button-set with-padding-med">
      <div class="form-card__content">
        <%= f.cfa_input_field(:first_name, 'What\'s their first name?', help_text: 'Legally as it appears on their ID.', classes: ['form-width--name']) %>
        <%= f.cfa_input_field(:last_name, 'What\'s their last name?', help_text: 'Legally as it appears on their ID.', classes: ['form-width--name']) %>
        <%= f.cfa_date_select(:birthdate, 'What\'s their date of birth?', { options: { start_year: Time.now.year, end_year: 1900 } }) %>

        <%= f.cfa_checkbox_set("", [
                                   { label: 'Full-time student', method: :full_time_student },
                                   { label: 'Non-citizen', method: :non_citizen },
                                   { label: 'Has a disability', method: :disabled },
                                   { label: 'Legally blind', method: :disabled },
                               ], label_text: "Do any of the following cases describe them?",
                               help_text: "We'll need to know these to determine what tax credits you might qualify for.")
        %>

      </div>
      <div class="form-card__footer">
        <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
          Next
        <% end %>
      </div>
    </fieldset>
  <% end %>
<% end %>
