<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
      <%= render "shared/google_analytics" %>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      <% if content_for? :page_title %>
        <%= content_for :page_title %>
      <% else %>
        Get Back the Cash You've Earned | GetYourRefund.org
      <% end %>
    </title>

    <%= render "shared/meta_tags" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= content_for :additional_head_content %>
  </head>

  <body class="template--<%
      if content_for? :template_css_class %><%=
        content_for :template_css_class %><%
      else %>homepage<% end
  %>">

  <%= content_for :page %>
  </body>

  <footer class="main-footer">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <div class="text--small main-footer__legal">
          GetYourRefund.org is a <strong>free non-profit service</strong> delivered by
          <%= link_to "Code for America", "https://www.codeforamerica.org/", target: "_blank" %> with tax preparation by
          <%= link_to "United Way Bay Area", "https://uwba.org/", target: "_blank" %>,
          <%= link_to "Earn it! Keep it! Save it!", "https://earnitkeepitsaveit.org", target: "_blank" %>, and
          <%= link_to "Tax Help Colorado", "https://www.garycommunity.org/tax-help-colorado-0", target: "_blank" %>.
        </div>
        <div class="main-footer__logos">
          <div class="main-footer__logo">
            <a href="https://earnitkeepitsaveit.org" target="_blank">
              <%= image_tag "eks-logo.png", class: "image image--eks-logo", alt: "Code for America" %>
            </a>
          </div>
          <div class="main-footer__logo">
            <a href="https://www.garycommunity.org/tax-help-colorado-0" target="_blank">
              <%= image_tag "taxhelpco-logo.png", class: "image image--thc-logo", alt: "Code for America" %>
            </a>
          </div>
          <div class="main-footer__logo">
            <a href="https://codeforamerica.org" target="_blank">
              <%= image_tag "cfa-logo.png", class: "image image--cfa-logo", alt: "Code for America" %>
            </a>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
  </footer>
</html>
