<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
      <%= render "shared/google_analytics" %>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      <% if content_for? :page_title %>
        <%= content_for :page_title %>
      <% else %>
        GetYourRefund.org
      <% end %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="template--<%
      if content_for? :template_css_class %><%=
        content_for :template_css_class %><%
      else %>homepage<% end
  %>">

  <%= render "shared/disclaimer" %>
  <%= content_for :page %>
  </body>
</html>
