<% content_for :page do %>
  <div class="page-wrapper">

    <%= render 'shared/header' %>
    <section class="slab slab--fold">
      <div class="grid">
        <div class="grid__item width-one-whole with-padding-med">
          <h2 class="h1">Get the refund you've earned</h2>
          <h1 class="h3">Free non-profit tax help for <br>Colorado workers and their families</h1>
          <%= link_to "File online", redirects_my_free_taxes_path, class: "button button--cta" %>
          <%= link_to "Get in-person help", redirects_get_ahead_colorado_locations_path, class: "button" %>
        </div>
      </div>
    </section>
    <%= content_for :content %>
    <%= render 'shared/footer' %>
  </div>

<% end %>

<%= render template: "layouts/application" %>